<% active_table_for :video_table, @tbl, :actions => [[ 'Feature','feature' ], ['Delete','delete','Are you sure you want to delete the selected videos?' ]] do |t| -%>
  <% active_tr 'video',t.id do |tr| -%>
    <td><%= tr.checkbox -%></td>
    <td><%= link_to h(t.name), :action => 'edit',:path => [ t.id ] -%></td>
    <td><%= t.featured ? 'Yes' : 'No' -%></td>
    <td><%= t.description -%></td>
    <td><%= t.email -%></td>
    <td><%= t.created_at.to_s(:short) -%></td>
  <% end -%>
<% end -%>
