<% active_table_for :video_table, @tbl, :actions => [[ 'Feature','feature' ], ['Approve','approve'],['Unapprove','unapprove']], :more_actions => [['Delete','delete','Are you sure you want to delete the selected videos?' ]] do |t| -%>
  <% active_tr 'video',t.id do |tr| -%>
    <td><%= tr.checkbox -%></td>
    <td><%= link_to h(t.name), :action => 'edit',:path => [ t.id ] -%></td>
    <td><%= h(t.recipient) %></td>
    <td><%= h(t.state) %></td>
    <td><%= t.featured ? 'Yes' : 'No' -%></td>
    <td><%= t.email -%></td>
    <td><%= t.created_at.to_s(:short) -%></td>
    <td><%= t.moderated_display  -%></td>
  <% end -%>
<% end -%>
